<div class="container">

  <div class="intro">
    <div class="left">
      <div class="title">Welcome, My Partner Is A Doctor</div>
      <div class="text">
        If youre partner is a doctor as well, you've come to the right place.<br>
        let us manage your shared time together, synchronize your schedules, and make sure you always know when your partner is on duty
      </div>
      <a routerLink="/signup" class="button">Get Started</a>
    </div>

    <div class="right">
      <img class="image" src="../../assets/doctors.jpg" alt="Hero Image">
    </div>
  </div>

  <div class="cards">

    <div class="card ">
      <div class="first-content text">
        Automatically Sync Your Schedules
      </div>
      <div class="second-content text inner-text">
        Let us automatically synchronize your calenders for you, so you never have guess.
      </div>
    </div>

    <div class="card">
      <div class="first-content text">
        Notify you on any changes
      </div>
      <div class="second-content text inner-text">
        Immediatly get notified when your parters schedule changes.
      </div>
    </div>

    <div class="card">
      <div class="first-content text">
        Suggest shared time frames 
      </div>
      <div class="second-content text inner-text">
        Let us suggest to you when you are both free, so you can make the best of your free time together.
      </div>
    </div>

  </div>
</div>